#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1em;
  display: inline-block;
}

.length-control {
  display: inline-block;
  width: 250px;
}

.btn-level {
  font-size: 1.5rem;
  margin: 0 10px 0 10px;
  display: inline-block;
}

.fa-light::before {
  font: var(--fa-font-light);
}

.timer {
  width: 270px;
  height: 160px;
  border-radius: 50px;
  position: relative;
  border: 5px solid #1a1a1a;
  margin: 20px auto;
}

.timer-control {
  margin-bottom: 2rem;
}

#timer-label {
  font-size: 2rem;

}

#time-left {
  font-size: 5rem;
}

#session-label,
#break-label {
  font-size: 1.5rem;
}

#reset {
  margin-left: 1rem;
}